@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

/* Dark mode toggle */
html.dark {
  color-scheme: dark;
}


@keyframes spin-slow {
  0% {
    transform: rotate(0deg);
    filter: drop-shadow(0 0 24px rgba(0, 255, 255, 0.5))
      drop-shadow(0 0 45px rgba(147, 51, 234, 0.4))
      drop-shadow(0 0 50px rgba(59, 130, 246, 0.3));
  }
  100% {
    transform: rotate(360deg);
    filter: drop-shadow(0 0 24px rgba(0, 255, 255, 0.5))
      drop-shadow(0 0 45px rgba(147, 51, 234, 0.4))
      drop-shadow(0 0 50px rgba(59, 130, 246, 0.3));
  }
}

.animate-spin-slow {
  animation: spin-slow 6s linear infinite;
}
